<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <title>Home Page</title>
</head>
<body>
  <div class="container">
    <div>
      <ul class="nav navbar-nav">
        <li class="nav-item"><a href="/">Test App</a></li>
        <li class="nav-item active"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/signin">Login</a></li>
      </ul>
    </div>
    <br>
    <br>
    <!-- <a href="/clearUsers">Reset Users DB</a>
    <a href="/listUsers">List Users</a> -->
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <div class="jumbotron">
      <h1>
        Welcome to the Test
      </h1>
      <p>We're going to build a cool application using MVC framework! This application was built with the Village 88 folks!</p>
      <p>
        <a class="btn btn-primary btn-large" href="/signin">
          Start
        </a>
      </p>
    </div>

    <div class="row">
      <div class="col-md-4">
        <strong>Manage Users</strong><br />
        Using this application, you'll learn how to add, remove, and edit users for the application.
      </div>
      <div class="col-md-4">
        <strong>Leave messages</strong><br />
        Users will be able to leave a message to another user using this application.
      </div>
      <div class="col-md-4">
        <strong>Edit User Information</strong><br />
        Admins will be able to edit another user's information (email address, first name, last name, etc)
      </div>
    </div>

  </div>
</body>
</html>
